<div fxLayout="row wrap">
    <div fxFlex.gt-lg="40" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-tab-group>
                <!-- Tab 1 -->
                <mat-tab label="2018">
                    <mat-card-content>
                        <div class="d-flex no-blcok">
                            <div class="p-b-20 b-b m-b-30">
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_44.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_45.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_46.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_47.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-tab>
                <!-- End Tab 1 -->
                <!-- Tab 2 -->
                <mat-tab label="2017">
                    <mat-card-content>
                        <div class="d-flex no-blcok">
                            <div class="p-b-20 b-b m-b-30">
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_44.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_45.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_46.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" style="background: #F6F7F8;" class="m-t-20">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/Screenshot_47.png"
                                            alt="Image">
                                    </div>
                                    <div fxFlex.gt-sm="80" fxFlex="100" class="p-l-10">
                                        <h4 class="m-b-10">Filled Federal Tax Return</h4>
                                        <h6 class="m-b-10">Filled with: <b>Turbo Tax Self-Employed</b></h6>
                                        <h6 class="m-b-10">Federal Refund: <b>$3,234</b></h6>
                                        <h6 class="m-b-10"><b>Return Status:</b><b>Accepted</b></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="60" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-list role="list">
            <mat-list-item role="listitem" style="color: #26C6DA;cursor: pointer;">Ammend (changes) 2018 Return
            </mat-list-item>
            <mat-list-item role="listitem" style="color: #26C6DA;cursor: pointer;">Download/Print return (PDF)
            </mat-list-item>
            <mat-list-item role="listitem" style="color: #26C6DA;cursor: pointer;">My Docs</mat-list-item>
            <mat-list-item role="listitem" style="color: #26C6DA;cursor: pointer;">View adjusted gross income (AGI)
            </mat-list-item>
            <mat-list-item role="listitem" style="color: #26C6DA;cursor: pointer;">View Order Details</mat-list-item>
            <mat-list-item role="listitem" style="color: #26C6DA;cursor: pointer;">Download .tx File</mat-list-item>
        </mat-list>
    </div>
</div>